.table,th,td{
    border: 0px solid rgb(229, 229, 235);
    font-family: 'Times New Roman', Times, serif;
    padding-left: 3ex;
}
.rightNav {
    width: 50;
    text-align: right;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.background {
    background-color: rgb(51,153,255);
    background-blend-mode: darken;
    background-size: cover;
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
}
.nav-list {
    width: 70%;
    display: flex;
}
 
.nav-list li {
    list-style: none;
    padding: 2px 6px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
.p {
    display: block;
    font-size: 3em;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0;
    font-weight: 700;

  }
  .rightNav {
    width: 50;
    text-align: center;
}
 
#search {
    padding: 5px;
    font-size: 17px;
    border: 2px solid grey;
    border-radius: 9px;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.background {
    background-color: rgb(51,153,255);
    background-blend-mode: darken;
    background-size: cover;
}
.text-footer {
    text-align: center;
    padding: 30px 0;
    font-family: "Ubuntu", sans-serif;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);
}
.nav-list {
    width: 70%;
    display: flex;
}
 
.nav-list li {
    list-style: none;
    padding: 2px 6px;
}
 
.nav-list li a {
    text-decoration: none;
    color: white;
}
 
.nav-list li a:hover {
    color: grey;
}
.fa{
    color: aliceblue;
}
.card-text{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.container-fluid{
    border-radius: 2cm;
    background-color: #000;
}
.card{
    border-radius: 1cm;
    background-color: rgb(255, 255, 255);
    
}
.btn{
    background-color: #000;
    color: aliceblue;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}
#sidebar.active {
    margin-left: -250px;
}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}
#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}




a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}
.side{
    list-style: none;
    text-decoration: none;
    display: flex;
    color: rgb(91, 33, 228)
}
.col-sm-2{
    padding-top: 0.5cm;
    padding-bottom: 3cm;
}
.nav-link{
    font-size:x-large;
}
.navbar-brand{
    font-size: xx-large;
}
.h1{
    padding-top: 0cm;
    padding-bottom: 0.3cm;
}





